$black-60:rgba(0,0,0,.6);
$black-80:rgba(0,0,0,.8);
$font-blue:#3399ff;
$font-normal: rgba(0,0,0,0.4);
$font-active: rgba(0,0,0,0.6);
$border-normal: rgba(0,0,0,0.15);
$border-active: rgba(0,0,0,0.3);

#pagelet-userInfo{
	.user-center{
		padding-top:128px;
		max-width:700px;
		margin:0 auto;
		.user-info{
			width:100%;
			padding-bottom:72px;
			margin-bottom:1px;
			overflow:hidden;
			-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,.2);
			-moz-box-shadow: 0px 1px 0px rgba(0,0,0,.2); /* 老的 Firefox */
			box-shadow: 0px 1px 0px  rgba(0,0,0,.2);
			.user-pic {
			    float: left;
			    width: 50px;
			    height: 50px; 
			}
			.cum-left{
				float:left;
				margin-left:26px;
				width:60%;
				overflow:hidden;
				color:$black-60;
				.cuml-username{
					margin-top:2px;
					display:inline-block;
					font-size:24px;
				}
				.cuml-mobile{
					margin-top:7px;
					display:inline-block;
					font-size:16px;
				}
			}
			.cum-right{
				float:right;
				width:15%;
				.edit-web{
					float: right;
					width: 80px;
					height:50px;
					line-height:50px;
					text-align:center;
					text-decoration:none;
					padding:0;
					background: none;
					outline: none;
					color: $font-normal;
					border: 1px solid $border-normal;
					border-radius:1px;
				}
				.edit-web:hover {
					color: $font-active;
					border: 1px solid $border-active; 
				}
			}
			.cum-right-hid{
				display:none;
				float: right;
				text-align: right;
				width: 10%;
				overflow: hidden;
				padding-top:15px;
				.edit-icon{
			        display:block;
			        width:18px;
			        height:18px;
			        background:url(../../static/image/edit.svg) no-repeat;
			    }
			}
		}
	}
	@media (max-width: 600px) and (min-width: 301px){
		.user-center {
			padding-top: 75px;
			max-width:300px;
			.user-info{
				padding-bottom:30px;
			 	.cum-left{
				 	margin-left:16px;
				  	width:55%;
				 	.cuml-username {
					 	font-size:21px;
					}
					.cuml-mobile{
						margin-top:10px;
					}
				}
				.cum-right{
					display:none;
				}
				.cum-right-hid{
					display:block;
				}
			}
		}
	}
}

#visitLog{
	.visit-log{
		min-height:186px;
		margin-bottom:1px;
		padding-top:26px;
		padding-bottom:26px;
		-webkit-box-shadow: 0px 1px 0px rgba(0,0,0,.2);
		-moz-box-shadow: 0px 1px 0px rgba(0,0,0,.2); /* 老的 Firefox */
		box-shadow: 0px 1px 0px  rgba(0,0,0,.2);
		.mobile-visit-time{
			display:none;
			width:80%;
			line-height:20px;
			padding-bottom:20px;
			font-size:12px;
			color:$font-blue;
		}
		.robot-img{
			float:left;
		}
		.robot-info{
			float:left;
			width:454px;
			margin-left:26px;
			.robot-name{
				height:18px;
				font-size:18px;
				color:$black-80;
			}
			.detail{
				margin-top:18px;
				height:42px;
				line-height:20px;
				font-size:14px;
				color:$black-60;
				white-space: wrap;
				text-overflow : ellipsis;
				overflow:hidden; 
			}
			.visit-time{
				margin-top:30px;
				font-size:12px;
				color:#3399ff;
			}
		}
	}

	@media (max-width: 600px) and (min-width: 301px){
		.visit-log{
			padding-top:20px;
			padding-bottom:20px;
			.mobile-visit-time{
				display:block;
			}
			.robot-img{
				float:none;
				width:100%;
				height:auto;
			}
			.robot-info{
				float:none;
				width: 100%;
				margin-left: 0px;
				.robot-name{
					margin-top:20px;
				}
				.detail {
					margin-top:20px;	
				}
				.visit-time{
					display:none;
				}
			}
		}
	}
}
